html{
    scroll-behavior: smooth;
}

.roundedBorder{
    border-width:3px !important;
    border-radius:10px !important;
    border-color: solid black !important;
}


:focus, :hover,:active{
    text-decoration: none;
    outline: 0 !important;
    outline-offset: 0;
}
